@tailwind base;
@tailwind components;

@font-face {
  font-family: "Nikkyou Sans";
  src: url("../public/fonts/Nikkyou-Sans.woff2") format("woff2"),
    url("../public/fonts/Nikkyou-Sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("../public/fonts/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind utilities;

body {
  @apply bg-black text-white;
}
